.port h1 {
    font-size: 50px;
}

.port .item img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: center;
    border: 3px solid #2C3E50;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.port .item .layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1ABC9C;
    opacity: 0;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.port .item:hover .layer{
    opacity: .9;
}

.port .item .layer i {
    font-size: 55px;
    color: #fff;
}